.capsule-tag {
  box-sizing: border-box;
  border-radius: 99rem;
  width: max-content;
}

.color--primary {
  color: var(--primary-color);
}

.button-outline-primary {
  background-color: var(--black-bg);
}

.button-secondary,
.button-primary,
.button.button-primary {
  color: var(--black-bg);
}

input {
  accent-color: var(--primay-color);
  color: var(--white);
}

.card-shadow {
  box-shadow: var(--primay-color);
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.icon-button:hover {
  transform: scale(1.07);
}

.cursor--pointer {
  cursor: pointer;
}

.button {
  margin: 0;
}

.text-sm {
  font-size: 1.2rem;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 9px -1px var(--primary-color);
}

.invisible-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.invisible-scroll::-webkit-scrollbar {
  display: none;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  font-size: 1.6rem;
  line-height: normal;
  position: absolute;
  width: max-content;
  background-color: var(--black2-bg);
  color: var(--white);
  padding: 0.25rem 1rem;
  top: -0.5rem;
  left: 50%;
  transform: translate(-50%, -100%);
  border: 1px solid var(--primary-color);
  max-width: 50vw;
  overflow-x: wrap;
}

[data-tooltip].tooltip-bottom-left:hover::before {
  top: auto;
  bottom: -0.5rem;
  transform: translate(-100%, 100%);
  transform-origin: 100% 50%;
}
