:root {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  --black-bg: #1d160f;
  --black2-bg: #1a1e1a;
  --primary-color: #40e967;
  --secondary-color: #48c5f6;
  --white: rgb(255, 255, 255);
  height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--black-bg);
  color: var(--white);
}

.grid-container {
  display: grid;
  position: relative;
  gap: 5px;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
}

.header {
  box-sizing: border-box;
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1/ -1;
}

.main {
  grid-row: 2 / 3;
}

.sidebar {
  grid-row: 2 / 3;
  z-index: 99;
  position: absolute;
  width: 15rem;
}

.footer {
  background-color: var(--black-bg);
  grid-row: 3 / -1;
  grid-column: 1 / -1;
}

@media screen and (min-width: 1250px) {
  .grid-container {
    grid-template-columns: auto 1fr;
  }

  .sidebar {
    position: relative;
  }

  .grid-container.form-page {
    grid-template-columns: 1fr;
  }

  .grid-container.form-page {
    grid-template-columns: 1fr;
  }

  .grid-container.form-page .sidebar {
    display: none;
  }
}

@media screen and (min-width: 900px) and (max-width: 1250px) {
  .grid-container {
    grid-template-columns: 6rem 1fr;
  }

  .sidebar {
    position: relative;
  }

  .grid-container.form-page {
    grid-template-columns: 1fr;
  }

  .grid-container.form-page .sidebar {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 50%;
  }
}
